@{
    ViewData["Title"] = "Creacion de cadete";
}


<div class="text-center">
    <h1 class="display-4">Crear un cadete</h1>
    <br />

    <div class="form-group">
        <form asp-action="CreateCadete" method="post">
            <div>
                <h4>Datos del cadete: </h4>
                <div class="form-group row">
                    <label for="nombre">Nombre: </label>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre del cadete" class="form-control" />
                </div>
                <div class="form-group row">
                    <label for="direccion">Direccion: </label>
                    <input type="text" name="direccion" id="direccion" placeholder="Direccion del cadete" class="form-control" />
                </div>
                <div class="form-group row">
                    <label for="telefono">Telefono: </label>
                    <input type="text" name="telefono" id="telefono" placeholder="Numero de telefono del cadete" class="form-control" />
                </div>
            </div>
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
</div>

