@{
    ViewData["Title"] = "Crear cadete";
}
@model CadeteriaWeb.Models.CadeteCreateViewModel;


<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Crear cadete</h3>

                        <form asp-action="CreateCadetePost" method="post">
                            <div class="form-outline mb-4">
                                <label asp-for="Nombre" class="form-label"></label>
                                <input asp-for="Nombre" type="text" class="form-control form-control-lg">
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-4">
                                <label asp-for="Direccion" class="form-label"></label>
                                <input asp-for="Direccion" type="text" class="form-control form-control-lg">
                                <span asp-validation-for="Direccion" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-4">
                                <label asp-for="Telefono" class="form-label"></label>
                                <input asp-for="Telefono" type="text" class="form-control form-control-lg">
                                <span asp-validation-for="Telefono" class="text-danger"></span>
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit">Confirmar</button>

                            @if (Model.Message != null && Model.Message != "")
                            {
                                <hr class="my-4">

                                <div class="alert alert-danger">
                                    <strong>Error!</strong> @Model.Message
                                </div>
                            }

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>