@{
    ViewData["Title"] = "Creacion de pedido";
}

<div class="text-center">
    <h1 class="display-4">Crear un pedido</h1>
    <br />

    <div class="form-group">
        <form asp-action="CreatePedido" method="post">
            <div>
                <h4>Datos del pedido: </h4>
                <div class="form-group row">
                    <label for="observacion">Observacion: </label>
                    <input type="text" name="observacion" id="observacion" placeholder="Observacion" class="form-control" />
                </div>
            </div>
            
            <div>
                <h4>Datos del cliente: </h4>
                <div class="form-group row">
                    <label for="nombreCliente">Nombre: </label>
                    <input type="text" name="nombreCliente" id="nombreCliente" placeholder="Nombre del cliente" class="form-control" />
                </div>
                <div class="form-group row">
                    <label for="direccionCliente">Direccion: </label>
                    <input type="text" name="direccionCliente" id="direccionCliente" placeholder="Direccion del cliente" class="form-control" />
                </div>
                <div class="form-group row">
                    <label for="telefonoCliente">Telefono: </label>
                    <input type="text" name="telefonoCliente" id="telefonoCliente" placeholder="Numero de telefono del cliente" class="form-control" />
                </div>
            </div>
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
</div>
