@{
    ViewData["Title"] = "Home Page";
}

<div class="page-hero bg-secondary text-white d-flex justify-content-center vh-100" id="banner">
    <div class="d-flex justify-content-center align-items-center text-center h-100">
        <div class="title">
            <h1 class="display-2 text-white">La Cadeteria</h1>
            <h4 class="text-white">¡Bienvenido! Haz aqui todos tus pedidos.</h4>
        </div>
    </div>
</div>
