@{
    ViewData["Title"] = "Listado cadetes";
}

@model List<CadeteriaWeb.Entities.Cadete>;

<div class="text-center">
    <h1 class="display-4">Listado de Cadetes</h1>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var C in @Model)
            {
                <tr>
                    <td> @C.Id </td>
                    <td> @C.Nombre </td>
                    <td> @C.Direccion </td>
                    <td> @C.Telefono </td>
                </tr>
            }
        </tbody>
    </table>
</div>


